[submodule "PerformanceExtraction"]
	path = PerformanceExtraction
	url = https://github.com/CODARcode/Chimbuko-feature-extraction.git
[submodule "PerformanceVisualization"]
	path = PerformanceVisualization
	url = https://github.com/CODARcode/PerformanceVisualization.git
[submodule "ChimbukoVisualizationII"]
	path = ChimbukoVisualizationII
	url = https://github.com/CODARcode/ChimbukoVisualizationII
[submodule "PerformanceAnalysis"]
	path = PerformanceAnalysis
	url = https://github.com/CODARcode/PerformanceAnalysis
[submodule "ChimbukoProvDBconvert"]
	path = ChimbukoProvDBconvert
	url = https://github.com/CODARcode/ChimbukoProvDBconvert.git
[submodule "ChimbukoOfflineAnalysis"]
	path = ChimbukoOfflineAnalysis
	url = https://github.com/CODARcode/ChimbukoOfflineAnalysis.git
