[submodule "PerformanceExtraction"]
	path = PerformanceExtraction
	url = https://github.com/CODARcode/Chimbuko-feature-extraction.git
[submodule "PerformanceVisualization"]
	path = PerformanceVisualization
	url = https://github.com/CODARcode/PerformanceVisualization.git
[submodule "ChimbukoVisualization"]
	path = ChimbukoVisualization
	url = https://github.com/CODARcode/ChimbukoVisualization
[submodule "version_1/Chimbuko-feature-extraction"]
	path = version_1/Chimbuko-feature-extraction
	url = https://github.com/CODARcode/Chimbuko-feature-extraction.git
